.gantt-modern .gantt {
	.bar {
		fill: white;
	}

	.arrow {
		stroke: var(--gray-600);
	}

	.bar-wrapper {
		.bar {
			//stroke: var(--gray-600);
			stroke-width: 1;
			fill: var(--primary);
		}

		&:hover {
			.bar {
				fill: white;
				stroke: var(--gray-400);
			}

			.bar-progress {
				fill: var(--gray-200);
			}

			.handle {
				visibility: hidden;
				opacity: 0;
			}
		}

		&.active {
			.handle {
				visibility: visible;
				opacity: 1;
				fill: var(--blue-200);
			}

			.bar {
				fill: var(--blue-300);
				stroke: var(--blue-300);
			}

			.bar-progress {
				fill: var(--blue-500);
			}

			.bar-label {
				fill: white;
			}
		}
	}

	.bar-progress {
		fill: var(--gray-200);
	}

	.bar-label {
		fill: var(--text-color);
		font-weight: normal;
	}
}

.gantt-container .popup-wrapper {
	min-width: 9rem;
	border-radius: var(--border-radius);
	font-size: var(--text-sm);

	.title {
		color: white;
		border-bottom: none;
		padding-bottom: 0;
	}

	.subtitle {
		color: var(--gray-500);
	}

	.pointer {
		height: 15px;
	}
}
.frappe-list {
	position: relative;

	.gantt-modern {
		display: flex;
		flex-direction: row-reverse;

		.gantt-table {
			width: 50%;
			position: relative;
			top: 15px;
			background-color: white;

			header {
				border-bottom: 1px solid #e0e0e0;
				height: 45px;
				padding: 10px;
			}

			.list-row-container {
				.list-row {
					height: 52px;
					padding: 10px;
				}

				&:nth-of-type(even){
					.list-row {
						background-color: #f5f5f5;
					}
				}
			}
		}
		.gantt-container {
			width: 50%;
			border-left: 3px solid #dee8f0;

			.gantt {

				.today-highlight {
					fill: #e6ddb0;
				}
			}
		}
	}


}

div[id='page-List/Task/Gantt'] {
	.container {
		max-width: 100%;
	}
}
